body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.flex-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  flex: 1;

  border-style: solid;
  border-color: black;
  margin: 5px;
  align-self: center;
  padding: 16px;
}

.card {
  min-width: 40%
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.error-messages {
  color: red;
}